img{
    height: 300px; 
    width: 70%; 
    border-radius: 5px;
}

button{
    width: 70%;
}

@media only screen and (max-width: 800px) {

    img{
        width: 100%; 
    }
    
    button{
        width: 100%;
    }
    
}